--- 
--- 

@import "{{ site.theme }}";

.posts a {
    color: #159958 !important; /* e.g., #333333 for dark gray */
}

/* External links (keep blue) */
.posts a[target="_blank"] {
    color: #3e6994 !important; /* Blue for external links */
}

.post-description {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    margin-left: 8em;
    font-style: italic;
    line-height: 1.4;
}

